.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 3px !important;
}
/* .table.table-head-custom thead tr, .table.table-head-custom thead th {
    font-weight: 600;
    color: black !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
} */
.break-all{
    word-break: break-all;
}
.table-hight-300{
    height: 300px;
    overflow: auto;
}
caption{
    caption-side: top;
}

.timeline-demo .timeline-item .timeline-label {
    width: 120px !important;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    color: #3F4254;
}
.timeline-demo:before {
    content: '';
    position: absolute;
    left: 120.5px !important;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #EBEDF3;
}
.w-custome-70{
    min-width: 37%;
}
.w-custome-20{
    min-width: 23%;
}
.w-custome-25{
    min-width: 35%;
}
.w-40 {
    width: 40% !important;
}
.product-item-autocomplete{
    max-height: 200px;
    overflow-y: auto;
    padding-left: 0;
    z-index: 1;
    position: absolute;
    background: #fafbfb;
}
.product-item-autocomplete>li{
    list-style: none;
    padding: 5px;
}
.product-item-autocomplete>li:hover{
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
#file-receipts {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
.file-receipts-list{
    opacity: 0;
    position: absolute;
    z-index: -1;
 }